/* navy blue #2980b9 */

/* Navigation Bar */
.wy-nav-top {background: #cc0809}
.wy-side-nav-search {background-color:#cc0809}
.wy-side-nav-search img {background-color:#cc0809}
.wy-side-nav-search input[type=text] {border-color: #6d0404}
.wy-side-nav-search img {background-color: #cc0809}
	
.wy-menu-vertical header, .wy-menu-vertical p.caption {color: #fff}

.wy-menu-vertical a:active {background-color: #cc0809;color: #fff}
.wy-menu-vertical a {color: #d9d9d9}
.wy-menu-vertical a:visited {color: #d9d9d9}
.wy-menu-vertical a:hover {background-color: #4e4a4a}
.wy-menu a:hover {text-decoration: none}

.wy-nav-top a {color: #d9d9d9}
.wy-nav-top a:visited {color: #d9d9d9}

.wy-side-nav-search a {color: #fff}
.wy-side-nav-search a:visited {color: #fff}
.wy-side-nav-search a:hover {color: #fff}

/* Hyperlinks */
a {color: #cc0809}
a:visited {color: #7a0405}
/*a:hover {color: #d6393a}*/
a:hover {color: #db5252}

/* Definitions */
/*
.rst-content dl:not(.docutils) dt {background:#d9d9d9;color:#660404;border-top:solid 3px #6d0404}
.rst-content dl:not(.docutils) dt:before {color:#cc0809}
*/




